#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>

/ {
    macros {
        screen_tab_left: screen_tab {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LG(LA(RIGHT_ARROW))>;
            label = "SCREEN_TAB";
        };

        file_tab_right: file_tab_right {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LA(LG(RIGHT_ARROW))>;
            label = "FILE_TAB_RIGHT";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
&kp ESC    &kp Q             &kp W             &kp E         &kp R       &kp T  &kp Y      &kp U  &kp I      &kp O     &kp P     &kp BSPC
&kp TAB    &kp A             &kp S             &kp D         &kp F       &kp G  &kp H      &kp J  &kp K      &kp L     &kp SEMI  &kp RETURN
&kp LSHFT  &kp Z             &kp X             &kp C         &kp V       &kp B  &kp N      &kp M  &kp COMMA  &kp DOT   &kp UP    &kp SQT
           &kp LEFT_CONTROL  &kp LEFT_COMMAND  &kp LA(LGUI)  &kp TILDE2  &mo 2  &kp SPACE  &mo 1  &kp FSLH   &kp LEFT  &kp DOWN  &kp RIGHT
            >;
        };

        layer_1 {
            bindings = <
&kp NUMBER_1            &kp NUMBER_2  &kp NUMBER_3  &kp NUMBER_4  &kp N5  &kp NUMBER_6  &kp N7         &kp N8          &kp N9           &kp N0                &kp MINUS              &kp EQUAL
&none                   &none         &none         &none         &none   &none         &kp PIPE       &kp LEFT_BRACE  &kp RIGHT_BRACE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &none
&kp LC(LA(LEFT_ARROW))  &none         &none         &none         &none   &kp BSLH      &kp PIPE       &kp MINUS       &kp EQUAL        &kp LBRC              &kp RBRC               &kp LC(LA(RIGHT))
                        &none         &none         &none         &none   &to 3         &kp BACKSPACE  &none           &none            &none                 &none                  &none
            >;
        };

        layer_2 {
            bindings = <
&kp GRAVE               &kp N1  &kp N2  &kp N3   &kp N4     &kp N5  &kp N6  &kp N7  &kp N8      &kp N9    &kp N0        &kp LEFT_BRACKET
&kp SLASH               &kp N4  &kp N5  &kp N6   &kp PLUS   &none   &none   &none   &none       &none     &none         &kp RIGHT_BRACKET
&kp LG(LA(LEFT_ARROW))  &kp N7  &kp N8  &kp N9   &kp MINUS  &none   &none   &none   &none       &none     &none         &kp LG(LA(RIGHT))
                        &none   &kp N0  &kp DOT  &kp ENTER  &none   &none   &mo 3   &kp C_NEXT  &kp C_PP  &kp C_VOL_UP  &kp C_VOL_DN
            >;
        };

        layer_3 {
            bindings = <
&none    &kp F1  &kp F2   &kp F3   &kp F4   &none  &none  &bt BT_CLR  &bt BT_NXT  &none      &kp PSCRN  &none
&none    &kp F5  &kp F6   &kp F7   &kp F8   &none  &to 0  &none       &none       &none      &none      &none
&kp DEL  &kp F9  &kp F10  &kp F11  &kp F12  &none  &none  &none       &none       &none      &none      &kp DEL
         &trans  &trans   &none    &trans   &none  &none  &none       &kp HOME    &kp PG_DN  &kp PG_UP  &kp END
            >;
        };
    };
};
